﻿ 
    <footer> 
            <p>Voici les informations d'accès. Termes & Conditions. 
                Politique de confidentialité. Nous constacter : 
            </p>
            <p>
                @2020 - Tous droits réservés - KINEPALOIN
            </p>
    </footer>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="asset/js/main.js"></script>
    <script type="text/javascript" src="asset/js/film.js"></script>
    <script type="text/javascript" src="asset/js/validationFormulaire.js"></script>
  </body>
</html>