body{
    box-sizing: border-box;
} 

main h4{
    margin-top : 1em;
    font-family: fantasy;
}

main section p{
    font-size: 0.7em;
    font-weight: bold;
}

#choix{
    visibility: hidden;
}


/* footer */
footer{
    text-align: center;
}

footer p:first-child{
    text-align: center;
    font-weight: bold;
    color: darkcyan;
    padding: 0 0.5rem;
}

